<div id={{id}} class="jw-hero-option">
    <div class="jw-hero-container" style="background-image:url({{image}})">
        <img class="play-btn" src="public/assets/play.svg"/>
        <div class="jw-hero-metadata-container">
            <h2 class="jw-media-title">{{title}}</h2>
            <p class="jw-media-description">{{desc}}</p> 
        </div>
    </div>
	
</div>